
@font-face {
    font-family: 'SovietBook';
    src: url("data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAHfsAAsAAAAAo3wAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABfAAAAE4AAABgROCRimNtYXAAAAREAAABAQAAAVyVm4VIZ2FzcAAAd+QAAAAIAAAACP//AANnbHlmAAAHAAAAb7oAAJdUG9VWyGhlYWQAAAEIAAAANgAAADYY+UFVaGhlYQAAAUAAAAAhAAAAJA/VCBdobXR4AAABzAAAAnUAAASw+l0m62xvY2EAAAVIAAABtgAAAloz+w44bWF4cAAAAWQAAAAYAAAAIAEyAPluYW1lAAB2vAAAARIAAAH+JklEBnBvc3QAAHfQAAAAEwAAACD/KgCWAAEAAAABgABV+y3PXw889QAJCAAAAAAA2Ldl8wAAAADY5BFuAA/+RQgyBrQAAAAGAAEAAAAAAAB42mNgZGBg2/IvjuEeRwoDP4MGhxEDUAQZMOoAAGpxBAEAAAB42mNgZGBg1GH4wcDKAAKMDGgAAB27AS142mNgZnFmnMDAysDAOovVmIGBUQ==");
}

@font-face {
    font-family: 'SovietBook';
    src: url("data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAE58AAsAAAAAaQAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABfAAAAE8AAABgROCRP2NtYXAAAAREAAABAQAAAVyVm4VIZ2FzcAAATnQAAAAIAAAACP//AANnbHlmAAAG0AAARm0AAFy42f0erWhlYWQAAAEIAAAANgAAADYZOkESaGhlYQAAAUAAAAAhAAAAJA8kB/FobXR4AAABzAAAAnUAAASw7QwhCmxvY2EAAAVIAAABhgAAAlqz5Z0mbWF4cAAAAWQAAAAYAAAAIAEyAKtuYW1lAABNQAAAAR8AAAIgKtFGgnBvc3QAAE5gAAAAEwAAACD/KgCWAAEAAAABgADsSXMFXw889QAJCAAAAAAA2Ldl8wAAAADY5BFtADL+AwhOBrQAAgAGAAEAAAAAAAB42mNgZGBg2/IvjuEeR8N/x//POPwYgCLIgFEHALEnBycAAAB42mNgZGBg1GFYxcDKAAKMDGgAABYdAN942mNgZjFnnMDAysDAOovVmIGBUQ==");
    font-style: italic;
}

