@font-face {
    font-family: 'SovietBook';
    src: url("https://github.com/OrelSokolov/SovietBookFont/blob/master/Soviet.woff2?raw=true")
}

@font-face {
    font-family: 'SovietBook';
    src: url("https://github.com/OrelSokolov/SovietBookFont/blob/master/SovietItalic.woff2?raw=true");
    font-style: italic;
}

